.App {
  text-align: center;
}

.btn {
  background-color: aqua;
  border: 2px solid black;
  color:black;
  font-size:1rem;
  cursor: pointer;
  outline: none;
  border-radius:10px;
  font-weight: 100;
  font-family: cursive;
}
.toggle{
  transition: 3s all ease-in-out;
}

.red{
  color: red;
}

.bold{
  font-weight: 800;
}